body {
	line-height: 120%;
}

.column {
	width: 800px;
	margin: 32px auto;
	border: 1px solid black;
}

.divider {
	height: 1px;
	width: 100%;
	background-color: lightslategray;
	margin: 16px 0;
}

/* Universal element styles */

textarea {
	resize: vertical;
}

/* Tabs and selection */

.tab-bar {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 16px;
}

.tab-bar button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33.33%;
}

.tab-bar button:hover {
  background-color: #ddd;
}

.tab-bar button.active {
  background-color: #ccc;
}

.tab-content {
	margin: 16px;
}

/* Presets */

#preset-description {
	font-style: italic;
}

/* Custom input */

.button-row {
	margin: 8px 0;
}

.button-row button:not(:last-child) {
	margin-right: 4px;
}

.custom-info {
	margin: 4px 4px 8px;
}

#system-name {
	width: 40%;
	margin: 4px 0;
}

#system-description {
	width: 100%;
	margin: 4px 0;
}

.graph {
	width: 27px;
	margin-right: 6px;
}

.graph-error {
	width: 27px;
	margin-right: 6px;
	border: 2px solid red;
	border-radius: 2px;
}

.graphTable {
	width: 100%;
	margin: 4px 0;
	font-size: 13pt;
	/* border: 1px solid;
	border-collapse: collapse; */
}

.graphTable tr, .graphTable td {
	/* border: 1px solid; */
}

.graphTable td {
	padding: 3px
}

.optionTable {
	margin: 4px 0;
}

.addable-row {
	margin: 4px 0;
}

/* Block customs */

#ligature-container {
	display: inline-block;
	vertical-align: top;
	margin: 4px;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 8px;
}

.ligature-pair {
	margin: 4px auto 8px;
}

.ligature-field {
	width: 40;
}

#exception-container {
	display: inline-block;
	vertical-align: top;
	margin: 4px;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 8px;
}

.exception-pair {
	margin: 4px auto 8px;
}

.exception-field {
	width: 64px;
}

.x-remove {
	width: 10px;
	height: 10px;
	padding: 0;
	margin-left: 2px;

	display: inline-block;
	vertical-align: middle;
  transform: translateY(-1px);
  cursor: pointer;

	border:none;
	background-color: white;
	background: 
	 linear-gradient(to top left,
	     rgba(0,0,0,0) 0%,
	     rgba(0,0,0,0) calc(50% - 1.33px),
	     darkslategray 50%,
	     rgba(0,0,0,0) calc(50% + 1.33px),
	     rgba(0,0,0,0) 100%),
	 linear-gradient(to top right,
	     rgba(0,0,0,0) 0%,
	     rgba(0,0,0,0) calc(50% - 1.33px),
	     darkslategray 50%,
	     rgba(0,0,0,0) calc(50% + 1.33px),
	     rgba(0,0,0,0) 100%);
}

.x-remove:hover {
	background: 
	 linear-gradient(to top left,
	     rgba(0,0,0,0) 0%,
	     rgba(0,0,0,0) calc(50% - 1.25px),
	     red 50%,
	     rgba(0,0,0,0) calc(50% + 1.25px),
	     rgba(0,0,0,0) 100%),
	 linear-gradient(to top right,
	     rgba(0,0,0,0) 0%,
	     rgba(0,0,0,0) calc(50% - 1.25px),
	     red 50%,
	     rgba(0,0,0,0) calc(50% + 1.25px),
	     rgba(0,0,0,0) 100%);
}

/* Help tooltips */

.section-label {
	font-size: 16;
	font-weight: bold;
	margin-left: 4px;
}

.question-circle {
	width: 16px;
	height: 16px;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-left: 2px;
}

.question-circle:after {
    content: '?';
    font-weight: bold;
    text-align: center;
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1.1em;
    color: darkslategray;
}

.question-mark {
	color: darkslategray;
	font-size: 16;
	font-weight: bold;
	line-height: 100%;
}

.question-circle .tooltip {
  visibility: hidden;
  width: 320px;
  padding: 10px;
  background-color: white;
  color: black;

  border: 1px solid darkslategray;
  border-radius: 6px;

  text-align: left;
  box-shadow: 0px 3px 5px 1px gray;
  top: -8px;
  left: 32px;
 
  position: absolute;
  z-index: 1;
}

.question-circle .tooltip::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent darkslategray transparent transparent;
}

.question-circle .tooltip::after {
  content: " ";
  position: absolute;
  top: 8px;
  left: -14.75px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.question-circle:hover .tooltip {
  visibility: visible;
}

/* Output area */

.conversion {
	margin: 4px 0 16px;
}

.conversion-table {
	width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  gap: 16px;
}

.conversion-input {
	min-height: 160px;
	margin: 0;
}

.conversion-output-container {
	border: 1px dashed darkslategray;
}

.conversion-output {
	margin: 4px;
	white-space: pre-line;
}

.conversion-output-placeholder {
	margin: 4px;
	color: slategray;
	white-space: pre-line;
}

.unknown {
	color: #8c1d4a;
}

/* About page */

#about ul li:not(:last-child) {
	margin-bottom: 2px;
}
