.column {
	width: 800px;
	margin: auto;
	border-width: 1px;
	border-color: black;
	padding: 2em 0 0;
}

/* Tabs and selection */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33.33%;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* Custom input */

.graph {
	width: 2em;
	margin-right: .4em;
}

.graph-error {
	width: 2em;
	margin-right: .4em;
	border: 2px solid red;
	border-radius: 2px;
}

.graphTable {
	width: 100%;
	font-size: 13pt;
	border: 1px solid;
	border-collapse: collapse;
}

.graphTable tr, .graphTable td {
	border: 1px solid;
}

.graphTable td {
	padding: 0.2em;
}

/* Output area */

#conversionTable td {
	vertical-align: top;
}
