body {
	line-height: 120%;
}

.column {
	width: 800px;
	margin: 2em auto;
	border: 1px solid black;
}

/* Help tooltips */

.label {
	font-size: 16;
	font-weight: bold;
}

.question-circle {
	width: 1em;
	height: 1em;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-left: .1em;
}

.question-mark {
	color: darkslategray;
	font-size: 16;
	font-weight: bold;
	line-height: 1.2em;
}

.question-circle .tooltip {
  visibility: hidden;
  width: 20em;
  padding: 10px;
  background-color: white;
  color: black;

  border: 1px solid darkslategray;
  border-radius: 6px;

  text-align: left;
  box-shadow: 0px 3px 5px 1px gray;
  top: -.5em;
  left: 2em;
 
  position: absolute;
  z-index: 1;
}

.question-circle .tooltip::before {
  content: " ";
  position: absolute;
  top: .4em;
  left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent darkslategray transparent transparent;
}

.question-circle .tooltip::after {
  content: " ";
  position: absolute;
  top: .4em;
  left: -14.75px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.question-circle:hover .tooltip {
  visibility: visible;
}

/* Universal element styles */

textarea {
	resize: vertical;
}

/* Tabs and selection */

.tab-bar {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 16px;
}

.tab-bar button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33.33%;
}

.tab-bar button:hover {
  background-color: #ddd;
}

.tab-bar button.active {
  background-color: #ccc;
}

.tab-content {
	margin: 16px;
}

/* Presets */

#preset-description {
	font-style: italic;
}

/* Custom input */

.button-row {
	margin: 4px 0;
}

#system-name {
	width: 40%;
	margin: 4px 0;
}

#system-description {
	width: 100%;
	margin: 4px 0;
}

.graph {
	width: 2em;
	margin-right: .4em;
}

.graph-error {
	width: 2em;
	margin-right: .4em;
	border: 2px solid red;
	border-radius: 2px;
}

.graphTable {
	width: 100%;
	margin: 4px 0;
	font-size: 13pt;
	/* border: 1px solid;
	border-collapse: collapse; */
}

.graphTable tr, .graphTable td {
	/* border: 1px solid; */
}

.graphTable td {
	padding: 0.2em;
}

.optionTable {
	margin: 4px 0;
}

.addable-row {
	margin: 4px 0;
}

/* Block customs */

#ligature-container {
	display: inline-block;
	vertical-align: top;
	margin: .25em;
	border: 1px solid gray;
	border-radius: .5em;
	padding: .5em;
}

.ligature-pair {
	margin: .2em auto .4em;
}

.ligature-field {
	width: 2.5em;
}

#exception-container {
	display: inline-block;
	vertical-align: top;
	margin: .25em;
	border: 1px solid gray;
	border-radius: .5em;
	padding: .5em;
}

.exception-pair {
	margin: .2em auto .4em;
}

.exception-field {
	width: 4em;
}

.x-remove {
	width: auto;
	vertical-align: center;
	padding: 0;
	margin-left: 2px;

	background-color: white;
	border:none;

	color: darkslategray;
}

.x-remove:hover {
	color: red;
}

/* Output area */

.conversion {
	margin: 4px 0 16px;
}

.conversion-table {
	width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 49% 49%;
  gap: 2%;
}

.conversion-input {
	min-height: 10em;
}

.conversion-output-container {
	border: 1px dashed darkslategray;
}

.conversion-output {
	margin: .3em;
	white-space: pre-line;
}

.conversion-output-placeholder {
	margin: .3em;
	color: slategray;
	white-space: pre-line;
}
